<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="row logos">
            <div class="col-4" align="center">
                <img width="100px" src="/public/img/logoIC.png" class="img-fluid" alt="Logo Italian Championship">
            </div>
            <div class="col-4" align="center">
                <img width="100px" src="/public/img/WCAlogo_notext.svg" class="img-fluid" alt="Logo Italian Championship">
            </div>
            <div class="col-4" align="center">
                <img width="100px" src="/public/img/cubingitaly.png" class="img-fluid" alt="Logo Italian Championship">
            </div>
        </div>
    </div>
</div>