<nav class="navbar navbar-dark bg-primary fixed-top">
    <div class="container"> 
    <a class="navbar-brand" href="/home">YouCube</a>
    <% if(user){ %>
        <a href="/api/auth/logout"><%= user.name %></a>
    <% } else{ %>  
        <a href="/api/auth/login" class="btn login" role="button">Login</a>
    <% } %>
    </div>
</nav>

