a{
    text-decoration: none;
    outline: none;
}

.navbar-brand, a {
    color: #fff;
    outline: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    text-decoration: none;
}

.back, .item {
    background-color: #b3daff;
}

table {
    background-color: #e8ffff;
}

td, th {
    text-align: center;
}

h1, h2, h3, h4 {
    color: #363a42;
    outline: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: lightsalmon;
}

.box {
    background-color: #fff;
    color: #0275d8;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    align-self: right;
}

.admin-page .import-buttons{
    margin-top: 40px;
    text-align: center;
}

.admin-page .import-buttons button{
    margin-right: 20px;
}

.admin-page .import-buttons>button:first-child{
    margin-right: 30px;
}

.admin-page .import-buttons>button:nth-child(2){
    margin-left: 30px;
}

.admin-page .loading-data{
    margin: 40px 0 40px 0;
    text-align: center;
}

.admin-page table{
    margin: 0 auto;
    margin-top: 40px;
    width:70%;
}

.admin-page #persons-table{
    width:50%;
}

.admin-page tbody{
    height: 800px;
    overflow-y: scroll;
}

.admin-page #import-section .form-control{
    margin-right: 20px;
    float:left;
    width: 80%;
}

.admin-page #import-section button{
    float: left;
    width: 15%;
    margin-right: 20px;
}

.admin-page #import-section button{
    margin-bottom:40px;
}
