a {
    text-decoration: none;
    outline: none;
}

.navbar-brand, a {
    color: #fff;
    outline: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.back {
    margin-top: 56px;
}

a:hover {
    text-decoration: none;
}

.back, .item {
    background-color: #b3daff;
}

table {
    background-color: #e8ffff;
}

td, th {
    text-align: center;
}

h1, h2, h3, h4 {
    color: #363a42;
    outline: none;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.gold {
    background-color: gold;
}

.silver {
    background-color: silver;
}

.bronze {
    background-color: lightsalmon;
}

.box {
    background-color: #fff;
    color: #0275d8;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    align-self: right;
}

.logos {
    padding: 40px 0 40px 0;
}

.home-button {
    margin-top: 20px;
}

.first-elem {
    margin-top: 40px;
}

.home-msg {
    padding: 40px 0 0 0;
}

.a-lead a {
    color: #0275d8;
}

.admin-page .loading-data{
    margin-top: 40px;
}


@media (max-width: 576px){
    h2{
        font-size: 24px;
    }
}


@media (max-width: 380px){
    h2{
        font-size: 20px;
    }
}