<h2>Importa round</h2>
<div>
    <select class="form-control" id="round-selector">
    </select>
    <button type="button" class="btn btn-large btn-primary">Importa</button>
</div>
<h2>Classifica</h2>
