<div id="import-section">
    <h2 class="home-msg">Importa round</h2>
    <div class=" row first-elem">
        <div class="col-lg-9">
            <select class="form-control" id="round-selector">
            </select>
        </div>
        <div class="col-lg-3 mt-4 mt-lg-0">
            <button type="button" class="btn btn-large btn-primary" id="import" style="width:100%">Importa</button>
        </div>
    </div>
</div>
<div id="comp-finished" class="home-msg d-none">
    <h2>Tutti i round sono stati importati</h2>
</div>

<%- include('loading') %>