<h2 class="home-msg">Team partecipanti</h2>
<div class="row">
    <div class="col-lg-8 offset-lg-2 ">
        <table class="table table-bordered table-striped table-fluid first-elem" id="teams-table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Partecipante</th>
                    <th scope="col">Nome del team</th>
                </tr>
            </thead>
            <tbody id="teams">
                <% teams.forEach(function(team){ %>
                <tr>
                    <td><%- team.owner.name -%></td>
                    <td><%- team.name -%></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>